.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: #f7f7f7;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}

.label {
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

.input {
    padding: 10px;
    margin-bottom: 15px;
    width: 100%;
    max-width: 200px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.matrix {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

.cell {
    width: 50px;
    height: 50px;
    text-align: center;
    margin: 2px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
