.container {
    @apply flex flex-col items-center justify-center p-4;
}

.submitButton {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline;
    margin: 20px;
}
