.stats {
    @apply my-4 p-4 border border-gray-300 rounded shadow;
}

.title {
    @apply text-lg font-bold mb-2;
}

.iconCheck {
    @apply text-green-500;
}

.iconCross {
    @apply text-red-500;
}
