.resultsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 25px;
    gap: 40px;
}

.resultBlock {
    background: #f7f7f7;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    width: 50%;
}

.resultBlock h2 {
    color: #333;
    margin-bottom: 10px;
}

.matrix {
    margin-bottom: 20px;
    font-size: 14px;
}

.stats {
    margin-top: 10px;
}
